# Pandas 101

> almost every operation doesn't effect the original object returns new DataFrame object
---
### Loading Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('pokemon_data.csv')

# data with a delimiter
# df = pd.read_csv('pokemon_data.txt', delimiter='\t')

#### Head & Tail

In [3]:
df.head(10)
# returns first 10 rows as DataFrame

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [55]:
# returns last 5 rows
df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,SpTotal
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,250
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,270
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,280
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,300
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,220

### Reading the data

In [5]:
# Reading headers
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [10]:
# Read one column
df['Name'][:10]
# df[['Name']][:10] # this one also works

0                    Bulbasaur
1                      Ivysaur
2                     Venusaur
3        VenusaurMega Venusaur
4                   Charmander
5                   Charmeleon
6                    Charizard
7    CharizardMega Charizard X
8    CharizardMega Charizard Y
9                     Squirtle
Name: Name, dtype: object

In [11]:
# Read multiple columns
df[['Name', 'Type 1', 'HP']]

                          Name    Type 1   HP
0                    Bulbasaur     Grass   45
1                      Ivysaur     Grass   60
2                     Venusaur     Grass   80
3        VenusaurMega Venusaur     Grass   80
4                   Charmander      Fire   39
5                   Charmeleon      Fire   58
6                    Charizard      Fire   78
7    CharizardMega Charizard X      Fire   78
8    CharizardMega Charizard Y      Fire   78
9                     Squirtle     Water   44
10                   Wartortle     Water   59
11                   Blastoise     Water   79
12     BlastoiseMega Blastoise     Water   79
13                    Caterpie       Bug   45
14                     Metapod       Bug   50
15                  Butterfree       Bug   60
16                      Weedle       Bug   40
17                      Kakuna       Bug   45
18                    Beedrill       Bug   65
19       BeedrillMega Beedrill       Bug   65
20                      Pidgey    Normal   40
21                   Pidgeotto    Normal   63
22                     Pidgeot    Normal   83
23         PidgeotMega Pidgeot    Normal   83
24                     Rattata    Normal   30
25                    Raticate    Normal   55
26                     Spearow    Normal   40
27                      Fearow    Normal   65
28                       Ekans    Poison   35
29                       Arbok    Poison   60
..                         ...       ...  ...
770                    Sylveon     Fairy   95
771                   Hawlucha  Fighting   78
772                    Dedenne  Electric   67
773                    Carbink      Rock   50
774                      Goomy    Dragon   45
775                    Sliggoo    Dragon   68
776                     Goodra    Dragon   90
777                     Klefki     Steel   57
778                   Phantump     Ghost   43
779                  Trevenant     Ghost   85
780      PumpkabooAverage Size     Ghost   49
781        PumpkabooSmall Size     Ghost   44
782        PumpkabooLarge Size     Ghost   54
783        PumpkabooSuper Size     Ghost   59
784      GourgeistAverage Size     Ghost   65
785        GourgeistSmall Size     Ghost   55
786        GourgeistLarge Size     Ghost   75
787        GourgeistSuper Size     Ghost   85
788                   Bergmite       Ice   55
789                    Avalugg       Ice   95
790                     Noibat    Flying   40
791                    Noivern    Flying   85
792                    Xerneas     Fairy  126
793                    Yveltal      Dark  126
794           Zygarde50% Forme    Dragon  108
795                    Diancie      Rock   50
796        DiancieMega Diancie      Rock   50
797        HoopaHoopa Confined   Psychic   80
798         HoopaHoopa Unbound   Psychic   80
799                  Volcanion      Fire   80

[800 rows x 3 columns]

In [13]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [14]:
# specific indexed row
# iloc: integer location
df.iloc[2]

#                    3
Name          Venusaur
Type 1           Grass
Type 2          Poison
HP                  80
Attack              82
Defense             83
Sp. Atk            100
Sp. Def            100
Speed               80
Generation           1
Legendary        False
Name: 2, dtype: object

In [15]:
df.iloc[1:4]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [17]:
# Specific cell value
df.iloc[2, 1]

'Venusaur'

In [18]:
df.iloc[2]['Name']

'Venusaur'

In [20]:
# iter through rows
for index, row in df.iterrows():
    print(f'{index}: {row}')
    if index == 4: break

0: #                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object
1: #                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object
2: #                    3
Name          Venusaur
Type 1           Grass
Type 2          Poison
HP                  80
Attack              82
Defense             83
Sp. Atk            100
Sp. Def            100
Speed               80
Generation           1
Legendary        False
Name: 2, dtype: object
3: #                                 3
Name          VenusaurMega Venusaur
Type 1                        Grass
Type 2                       Poison
HP                               80
Attack                          100
Defense                         123
Sp. Atk                         122
Sp. Def                         120
Speed                            80
Generation                        1
Legendary                     False
Name: 3, dtype: object
4: #                      4
Name          Charmander
Type 1              Fire
Type 2               NaN
HP                    39
Attack                52
Defense               43
Sp. Atk               60
Sp. Def               50
Speed                 65
Generation             1
Legendary          False
Name: 4, dtype: object

In [26]:
# get the specific rows based on conditions
df.loc[df['HP'] > 150]

# > type(df.loc[df['HP'] > 150])
# > pandas.core.frame.DataFrame

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
155,143,Snorlax,Normal,NaN,160,110,65,65,110,30,1,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False

### Describing Data

In [28]:
df.describe()
# all numerical/statistical data description

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

### Sorting Data
#### Single Column

In [32]:
# ascending sort
df_name = df.sort_values('Name')
df_name.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
750,681,AegislashBlade Forme,Steel,Ghost,60,150,50,150,50,60,6,False
751,681,AegislashShield Forme,Steel,Ghost,60,50,150,50,150,60,6,False
153,142,Aerodactyl,Rock,Flying,80,105,65,60,75,130,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False

In [33]:
# descending sort
df_name = df.sort_values('Name', ascending=False)
df_name.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
286,263,Zigzagoon,Normal,NaN,38,30,41,30,41,60,3,False
707,644,Zekrom,Dragon,Electric,100,150,120,120,100,90,5,True
582,523,Zebstrika,Electric,NaN,75,100,63,80,63,116,5,False
157,145,Zapdos,Electric,Flying,90,90,85,125,90,100,1,True
367,335,Zangoose,Normal,NaN,73,115,60,60,60,90,3,False

#### Multiple Columns all ascending

In [34]:
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [39]:
# sort by type and then HP ascending
df_type_hp = df.sort_values(['Type 1', 'HP'])
df_type_hp.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
462,415,Combee,Bug,Flying,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,30,45,59,30,39,57,5,False
314,290,Nincada,Bug,Ground,31,45,90,30,30,40,3,False
51,46,Paras,Bug,Grass,35,70,55,45,55,25,1,False
446,401,Kricketot,Bug,NaN,37,25,41,25,41,25,4,False
732,664,Scatterbug,Bug,NaN,38,35,40,27,25,35,6,False
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
179,165,Ledyba,Bug,Flying,40,20,30,40,80,55,2,False

⬆ Both **`Type 1`** and **`HP`** columns are sorted ascending

#### Multiple Columns mixed sorting

Sort **`Type 1`** ascending and **`HP`** descending

In [40]:
df_type_hp_mixed = df.sort_values(['Type 1', 'HP'], ascending=[True, False])

# ^ Both statements are same
# 1: True
# 0: False
# df_type_hp_mixed = df.sort_values(['Type 1', 'HP'], ascending=[1, 0])

df_type_hp_mixed.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
734,666,Vivillon,Bug,Flying,80,52,50,90,50,89,6,False
447,402,Kricketune,Bug,NaN,77,85,51,55,51,65,4,False
220,205,Forretress,Bug,Steel,75,90,140,60,60,40,2,False
602,542,Leavanny,Bug,Grass,75,103,80,70,80,92,5,False
717,649,Genesect,Bug,Steel,71,120,95,120,95,99,5,False

⬆ **`Type 1`** sorted ascending and **`HP`** sorted descending

### Making changes to data

#### Adding new column

In [4]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Speed']

**New column `Total` is added**

In [6]:
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,188
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,245
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,325

**Adding a column using `iloc`**

In [13]:
# df['SpTotal'] = df['Sp. Atk'] + df['Sp. Def']

df['SpTotal'] = df.iloc[:, 7:9].sum(axis=1)

* **axis=0** : Vertical/Column
* **axis=1** : Horizontal/Row

```py
df['SpTotal'] # New column to create

df.iloc[:, 7:9].sum(axis=1) # df.iloc[all_rows/row_range, 7 and 8 columns] sum horizontally
```

In [14]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,SpTotal
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,188,130
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,245,160
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,325,200
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,383,242
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,199,110

In [15]:
df['Spam'] = df.iloc[0:5, 5:7].sum(axis=1)

In [16]:
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,SpTotal,Spam
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,188,130,98.0
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,245,160,125.0
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,325,200,165.0
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,383,242,223.0
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,199,110,95.0
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,260,145,NaN
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,340,194,NaN
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,419,215,NaN
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,360,274,NaN
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,200,114,NaN

**`NaN` for column `Spam` from 5th row**

#### Drop a column(s)

In [52]:
# it doesn't drop in df instered it returns new df
df = df.drop('Total', axis=1)

In [54]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,SpTotal
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,130
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,160
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,200
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,242
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,110